# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Conexão com o PostgreSQL (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smarthelp?schema=public"

# Configurações do pgAdmin
PGADMIN_DEFAULT_EMAIL="admin@smarthelp.local"
PGADMIN_DEFAULT_PASSWORD="admin"
